/* Reszponzív weboldal */
*{
    margin:0;
    padding:0;
    box-sizing: border-box; 

}
body{
    background-color: white;
    width: 90%;
    max-width: 900px;
    margin: auto;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: solid 1px black;
    padding: 5px;
}
main{
    display: grid;
    grid-template-areas:
        "h"
        "n"
        "a"
        "f" ;    
}

article img{
    width: 100%;
    text-align: center;
}

section{
    border: 2px solid black;
}


header{
    grid-area: h;
}
article{
    grid-area: a;
}
nav{
    grid-area: n;
}
footer{
    grid-area: f;
}


header, article, footer, section {
    border: 1px solid black;
    padding: 10px;
    margin: 3px;
}


 /* MENÜ kialakítása */
nav ul{
    display: grid;
    grid-template-columns: 8fr 2fr 2fr;
    gap: 2px;
    list-style-type: none;
    text-align: left;
    background-color: rgba(140, 140, 140, 0.416);
    border: 1px solid black;
}
nav li{
    padding: 5px;
    border: solid 1px black;
    
}

nav a{
    text-decoration: none;
    color:rgb(70, 70, 70);
    
}

nav{
    border: 1px solid black;
    padding: 10px;
    margin: 3px;
}
.kepekSection{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 5px;
}




@media only screen and (max-width: 400px) {/* töréspont */
    body {
        width: 100%;
    }
    main {
        font-size: 20px;
        width: 100%;
        grid-template-columns: 1fr;
        grid-template-areas:
        "h"
        "n"
        "a"
        "f" ;    

  }
  nav ul{

    grid-template-columns: 1fr;
    gap: 5px;
    list-style-type: none;
    text-align: center;
}
.kepekSection{
    grid-template-columns: 1fr;
    gap: 5px;
    text-align: center;
}
}
